/*.header-image {
    background-image: url('/assets/images/Forgot-password-rafiki.png');
    background-size: cover;
    height: 80px;
    width: 80PX;
    border: 2px solid #7dc9ed;
    margin-right: 10px;
}*/

.header-image {
  //background-size: cover;
  height: 100px;
  width: 120px;
  margin-right: 10px;
  //background-image: url('/assets/images/Forgot-password-rafiki.png');
  border-radius: 0%;
  }

.title-hc{

    font-size: 25px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    color: #013d7c;
}

.sub-title-hc{

    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    color:#1998cb;
}

//INCIDENCIA EL2809
//Para evitar el scrollbar horizontal
.form-control{
   width: 96%;
}

.hp-count {
  right: 34px;
}

.hp-icon-error {
  right: 5px;
  width: 14px;
  height: 14px;
}
