<div class="d-flex justify-content-between">
  <div class="d-flex">
    <div mat-card-avatar class="header-image mb-1"><img class="header-image" src="assets/images/Forgot-password-rafiki.png"></div>
    <div class="d-flex align-items-center">
      <div>
        <p class="mb-0 title-hc">{{title}}</p>
        <p class="mb-1 sub-title-hc">{{subTitle}}</p>
      </div>
    </div>
  </div>

  <div class="d-flex align-items-center">
    <p class="mb-2 title-hc">{{user}}</p>
  </div>
</div>
<mat-divider></mat-divider>

<div mat-dialog-content>

<!-- [hidden]="isHide_AuthLEGACY" -->

  <div class="hp-module-loader" *ngIf="isProccess">
    <div class="hp-spinner hp-spinner-circle mr-3"></div>
  </div>

  <div class="row mt-3" >
    <div class="col-12">
      <div class="form-group row"><label for="uw_email"
          class="col-sm-3 text-right control-label col-form-label">{{fieldOne}}</label>
        <div class="col-sm-9">
          <input type="email" id="uw_email" class="form-control" [(ngModel)]="form.email" name="email"
            #email="ngModel" [disabled]="!isEmptyField()"
            [maxLength]="limitCharacter.email" (input)="utils.inputValidator($event, 'email')">
            <p class="hp-count">{{form.email?.length}} / {{limitCharacter.email}}</p>
            <img class="hp-icon-error" src="assets/images/erroricon.png"
            *ngIf="getMessage(MSG_EMAIL) != MSG_NONE" [matTooltip]="getMessage(MSG_EMAIL)" />
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3 mb-3" >
    <div class="col-12">
      <div class="form-group row"><label for="uw_email_confirm"
          class="col-sm-3 text-right control-label col-form-label">{{fieldTwo}}</label>
        <div class="col-sm-9">
          <input type="email" id="uw_email_confirm" class="form-control" [(ngModel)]="form.emailConfirm" name="emailConfirm"
            #emailConfirm="ngModel"
            [maxlength]="limitCharacter.email" (input)="utils.inputValidator($event, 'emailConfirm')">
          <p class="hp-count">{{form.emailConfirm?.length}} / {{limitCharacter.email}}</p>
          <img class="hp-icon-error" src="assets/images/erroricon.png"
            *ngIf="getMessage(MSG_EMAIL_CONFIRM) != MSG_NONE" [matTooltip]="getMessage(MSG_EMAIL_CONFIRM)" />
        </div>
      </div>
    </div>
  </div>


</div>

<mat-divider></mat-divider>

<div mat-dialog-actions>
  <div class="d-flex justify-content-end w-100">
    <button mat-button class="hp-button-primary mr-2" (click)="callBack()">Aceptar</button>
    <button mat-button class="hp-button-primary" (click)="onNoClick()">Cancelar</button>
  </div>
</div>
